.container.is-fluid {
	padding-top: 20px;
}

.icon:not(:only-child) {
	margin-right: 5px;
}

.box .column:last-child {
	min-height: 40px;
}

.box .buttons {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

table {
	width: 100%;
}

#logs_table th:nth-child(1) {
	min-width: 75px;
	width: 75px;
}

#logs_table th:nth-child(3) {
	min-width: 120px;
	width: 175px;
}