.container.is-fluid {
	padding-top: 20px;
}

.icon:not(:only-child) {
	margin-right: 5px;
}

.box .column:last-child {
	min-height: 40px;
}

.box .buttons {
	position: absolute;
	bottom: 10px;
	right: 20px;
}