html {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	overflow-y: visible;
	background: url('../img/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

body {
	height: 100%;
	width: 100%;
}

#nojs {
	display: none;
}

.container.is-fluid, .columns {
	height: 100%;
}

.icon:not(:only-child) {
	margin-right: 5px;
}

@media screen and (max-width: 500px) {
	.container.is-fluid {
		padding: 20px 15px;
	}
}